.card-title {
  font-size: 1.1rem;
  color: #212529;
}

.alert-success {
  background-color: #e9f8ec;
  color: #198754;
  font-weight: 500;
}

.btn-outline-primary {
  font-weight: 500;
}
.card {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

button {
  cursor: pointer !important;
}
