<div class="d-flex flex-column vh-100">
  
  <!-- Header with Sidebar Toggle -->
  <app-header (toggleSidebar)="sidebarCollapsed = !sidebarCollapsed"></app-header>

  <!-- Main Layout -->
  <div class="d-flex flex-grow-1">
    
    <!-- Sidebar with Collapse -->
    <div [ngClass]="{'d-none': sidebarCollapsed, 'd-block': !sidebarCollapsed}" class="bg-light shadow-sm sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content -->
    <main class="p-4 flex-grow-1 bg-white">
      <app-loader></app-loader>
      <router-outlet></router-outlet>
    </main>
    
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
