
<div class="container py-5">
  <div class="text-center mb-4">
    <h2 class="display-5 fw-bold">🎓 Welcome to Online Test Platform!</h2>
    <p class="lead text-muted">
      Practice your frontend skills in <strong>HTML, CSS, JavaScript, TypeScript</strong>, and <strong>Angular</strong>.
    </p>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6">
      <h5 class="fw-bold">🔥 Why use this platform?</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" >➕ Create New Test</li>
        <li class="list-group-item">📈 Track progress and scores</li>
        <li class="list-group-item">🕒 Timed quizzes & instant results</li>
        <li class="list-group-item">📬 Email alerts for new tests</li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/906/906175.png" class="img-fluid" width="160" alt="Test Icon">
    </div>
  </div>

  <div class="text-center mt-5">
    <button class="btn btn-primary btn-lg" routerLink="/tests" (click)="startPractice()">
      🚀 Start Practicing Now
    </button>
  </div>
  <div class="text-center mt-5">
    <button class="btn btn-primary btn-lg" routerLink="/dashboard/library" >
      🚀 Explore Library
    </button>
  </div>
</div>
